/*estilos footer*/

footer{
    margin-top: 100px;
    background-color: #FADA7A;
    div{
        div{
           
            ul{
                display: flex ;
                li{
                    list-style: none;
                    text-decoration: none;
                    a{
                        img:hover{
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}



.copy{
    text-align: center;
}


