/*estilos media y tour*/

.carousel-item{
    text-align: center;
}

main{
    text-align: center;
    margin-top: 7rem;
    h1{
        background-color: coral;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

.box-calendario{
    margin: 15px;
    text-align: center;
}